
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navbar {
  margin: 20px 100px 80px 100px;
}

.font-01{
  font-family: Noto Serif;
  font-size: 65px;
  font-weight: bold;
  color:black;
}

.font-02{
  font-family: Noto Serif;
  font-size: 65px;
  font-weight: bold;
  color:#E95A08;
}

.font-03{
  font-family: Inter;
  font-size: 22px;
  font-weight: regular;
  color:#737373;
}

.plants-text{
  margin-inline: 200px;
  margin-bottom: 30px;
}

.card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card-button{
  background-color: #E95A08;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  width: 100%;
}

.font-04{
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: bold;
  color:black;
}

.trusted-section{
  margin-top: 200px;
}

.font-05{
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: bold;
  color:#E95A08;
}

.font-06{
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: bold;
  color:black;
}

.input-part{
  padding: 8px 20px;
  width:644px
}

.font-07{
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: bold;
  color:white;
}

.footer-sec{
  gap: 170px;
}

.trust-badge{
  height:300px;
  transform: translate(400px, -120px);
}

@media (max-width: 640px) {
  .navbar {
    margin: 20px 0px 80px 0px;
  }

}